<!DOCTYPE HTML>
<html lang="en-US" style="height: 720px;">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-compatible" Content="IE-edge">
	<meta name="viewport" content="width=device-width">
	<title>ApnaHelper</title>
  <%= stylesheet_link_tag "helper_request" %>
  <%= stylesheet_link_tag  'application', media: "all", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' , 'data-turbolinks-track' => true  %>
  <%= csrf_meta_tags %>
  </head>

<body>
													 <!--  navigation starts-->

<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<nav class="navbar navbar-inverse my_menu1"  data-offset-top="197" data-spy="affix" data-offset-top="197">
		<div class="container-fluid">
			<div class="col-sm-2 col-xs-6">

        <%= link_to "index" do %>
             <%= image_tag('homelogo.PNG' ,style: "padding-right:40px" , class: "pull-right") %>
        <% end %>

      </div>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
		<div class="col-sm-10 col-xs-6">
		<div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav pull-right" style="padding-top: 6px;padding-bottom:6px;padding-right: 80px;width: 480px;">
        <li style="margin-left: 1px;"> <%= link_to("Electrical", {:action => 'electrician'}, :class => "whitefont") %></li>
        <li style="margin-left: 1px;"> <%= link_to("Plumber", {:action => 'plumber'}, :class => "whitefont") %></li>
        <li style="margin-left: 1px;"> <%= link_to("Carpenter", {:action => 'carpenter'}, :class => "whitefont") %></li>
        <li style="margin-left: 1px;"> <%= link_to("Painter", {:action => 'painter'}, :class => "whitefont") %></li>
        </ul>
			</div>
		</div>
		</div>
	</nav>
</body>

<div class="container">
	<div class="raw">
	<h3 style="margin-bottom: 30px;margin-top: 40px"><strong > Carpentry Services </strong></h3>

		<h2 style="padding-left: 20px;" class="whitefont">Need new furniture for your new home:-</h2>

			<p style="margin-bottom: 30px;"> Are you shifting to your new home with completely modern settings or, planning a home renovation?
				Well, in that case, you will need to get completely new furniture for the new place.
				There are many companies and international brands, which sell ready-made furniture in varying sizes and designs,
				but they are pretty expensive.
				Also, it is not always possible to find the right kind of furniture of your choice in these stores for house repair.
				We helps in connecting with the most proficient and experienced carpenters for your custom home renovation and
				home repair services needs. All the carpenters arranged by us are trusted.</p>

		<h2 style="padding-left: 20px;" class="whitefont"> Carpentry services related to latch, bolt and handles:-</h2>

			<p style="margin-bottom: 30px;"> Glitches in door latches and handles, window bolts, etc. are common in homes and commercial setups.
				Doors and windows make uncomfortable squeaking sounds and noises that can be rather unnerving.
				We arranges the best carpenters, who can wrap up window repair and fix issues related to door, latches,
				handles and bolts quickly. Along with these, the carpenter can also work on issues related to door stopper, peephole,
				door chain, hinges and so on. The materials provided by the carpenters for the jobs are of high-quality,
				and you can completely trust and rely on them.</p>

		<h2 style="padding-left: 20px;" class="whitefont"> Repairing broken furniture:- </h2>

			<p style="margin-bottom: 30px;"> Rough and regular usage of furniture can lead to its breakage. Sometimes parts of furniture get weak and break.
				To provide proper home maintenance services, a good carpenter can mend broken furniture in a jiffy.
				He will save you the expense of buying brand new pieces for your home through competent home maintenance services.
				In fact, our carpenter are proficient, they can repair and restore old furniture as well so that it looks as good as
				new again. We has connections with talented carpenters and general contractors who are highly skilled in their
				jobs and carry years of experience to their name.</p>

			<p style="margin-bottom: 30px;"> Apna Helpers, a safe and reliable home services provider is one that fixes all your furniture problems.
				We helps you connect with the right carpenters at affordable prices.
				Our highly skilled carpenters have solutions for all your day problems to help to you keep your
				furniture in the best condition.</p>



	</div>
</div>

	<script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript"></script>
</body>

																		<!--Footer starts here-->
<div class="footer" style="padding-top: 10px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
              <%=  image_tag('apnahelper.PNG' ,class: "img-responsive img-rounded" ,style: "width: 220px;height: 120px;margin-top: 30px; background-color: white;")  %>
           </div>
            <div class="col-md-2 ">
                    <h3>Services</h3>
                    <ul>
						<li><a href="Electrician.html">Electrician</a></li>
						<li><a href="Plumber.html">Plumber</a></li>
						<li><a href="Carpenter.html">Carpenter</a></li>
						<li><a href="Painter.html">Painter</a></li>
                    </ul>
            </div>
            <div class="col-md-2 ">
                    <h3>Go To</h3>
                    <ul>
						<li><a href="index.html"> Home</a></li>
						<li><a href="index.html#aboutus"> About</a></li>
						<li><a href="index.html#contactus"> contact</a></li>
                    </ul>
            </div>
            <div class="col-md-3 colo " style="padding-right: 0px;width: 265px;">
                <div class="link-area">
                    <h3>Contact</h3>
                    <p  ><span class="glyphicon glyphicon-phone-alt" style="padding-right: 10px;"  ></span>+91-9557179662</p>
					<p  ><span class="glyphicon glyphicon-phone-alt" style="padding-right: 10px;"  ></span>+91-9897471319</p>
					<p  ><span class="glyphicon glyphicon-envelope"  style="padding-right: 10px;"   ></span>apnahelper@gmail.com</p>
                </div>
            </div>
			<div class="col-md-2 colo" style="padding-left: 0px;">
				<h3>Address</h3>
				<p>Rishikesh Dehradun(INDIA)</p>
			</div>
        </div>
    </div>
</div>

<section class="index-social">
    <div class="container">
    <div class="row text-center">
            <p class="copy-c">© 2016 - All Rights are Reserved</p>
        </div>
        </div>
</section>
																		 <!--end of footer-->
</html>
