<!DOCTYPE HTML>
<html lang="en-US" style="height: 720px;">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-compatible" Content="IE-edge">
	<meta name="viewport" content="width=device-width">
	<title>ApnaHelper</title>
  <%= stylesheet_link_tag "helper_request" %>
  <%= stylesheet_link_tag  'application', media: "all", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' , 'data-turbolinks-track' => true  %>
  <%= csrf_meta_tags %>
  </head>

<body>
													 <!--  navigation starts-->

<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<nav class="navbar navbar-inverse my_menu1"  data-offset-top="197" data-spy="affix" data-offset-top="197">
		<div class="container-fluid">
			<div class="col-sm-2 col-xs-6">
        <%= link_to "index" do %>
             <%= image_tag('homelogo.PNG' ,style: "padding-right:40px" , class: "pull-right") %>
        <% end %>
      </div>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
      <div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <div class="col-sm-10 col-xs-6" >
          <ul class="nav navbar-nav pull-right" style="padding-top:6px; padding-bottom:4px ;padding-right: 80px;width: 480px;">
            <li style="margin-left: 1px;"><a href="electrician.html"><strong>Electrical</strong></a></li>
            <li style="margin-left: 1px;"><a href="plumber.html"><strong>Plumber</strong></a></li>
            <li style="margin-left: 1px;"><a href="carpenter.html"><strong>Carpenter</strong></a></li>
            <li style="margin-left: 1px;"><a class="active" href="painter.html"><strong class="whitefont">Painter</strong></a></li>
          </ul>
            </div>
              </div>
                 </div>
              		</div>
              	    </nav>
                      </body>

<div class="container">
	<div class="raw">
	<h3 style="margin-bottom: 30px;margin-top: 40px"><strong > Painting Services </strong></h3>

		<h2 style="padding-left: 20px;"  class="whitefont"> Residential Painting:-</h2>

			<p style="margin-bottom: 30px;"> Wish to give your home an updated look.
				Tired of seeing imperfections on the wall? Well, our wall home painters offer you required house painting services.
				For them home interior painting experimentation is the key to success.So, they select colours that reflect your personality.
				Their interior house paint adds depth and texture to the room through home painting services.
				We also arrange for capable house exterior paint experts to maintain the external façade of your home.
				Trust us for a stellar job in house interior painting and home wall painting.</p>

		<h2 style="padding-left: 20px;"  class="whitefont"> Commercial Painting:-</h2>

			<p style="margin-bottom: 30px;"> Get incredible hues that match your corporate culture. Our experienced wall painters, exterior wall paint experts,
				and contractors align the colour tones of the furniture.
				We then recommend a shade that will perk up the productivity level of your staff and brighten up the work atmosphere.</p>

			<p style="margin-bottom: 30px;"> All you need to do is to book an appointment with us wherein you can share the details about what kind of
				painting services is required, schedule a time interval with our experts and sit back and enjoy.
				The house painting services team would come and inspect the areas and provide you details about which paint is the
				best for your home.
				We believes that change is the way of living. So, why not hire quality and expert house painting
				services at unwavering budgets from us.</p>

	</div>
</div>


	<script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript"></script>
</body>



                                    <!--Footer starts here-->
<div class="footer" style="padding-top: 10px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
              <%=  image_tag('apnahelper.PNG' ,class: "img-responsive img-rounded" ,style: "width: 220px;height: 120px;margin-top: 30px; background-color: white;")  %>

            </div>
            <div class="col-md-2 ">
                    <h3>Services</h3>
                   <ul>
            <li><a href="Electrician.html">Electrician</a></li>
            <li><a href="Plumber.html">Plumber</a></li>
            <li><a href="Carpenter.html">Carpenter</a></li>
            <li><a href="Painter.html">Painter</a></li>
                    </ul>
            </div>
            <div class="col-md-2 ">
                    <h3>Go To</h3>
                    <ul>
            <li><a href="index.html"> Home</a></li>
            <li><a href="index.html#aboutus"> About</a></li>
            <li><a href="index.html#contactus"> contact</a></li>
                    </ul>
            </div>
            <div class="col-md-3 colo " style="padding-right: 0px;width: 265px;">
                <div class="link-area">
                    <h3>Contact</h3>
                    <p  ><span class="glyphicon glyphicon-phone-alt" style="padding-right: 10px;"  ></span>+91-9557179662</p>
          <p  ><span class="glyphicon glyphicon-phone-alt" style="padding-right: 10px;"  ></span>+91-9897471319</p>
          <p  ><span class="glyphicon glyphicon-envelope"  style="padding-right: 10px;"   ></span>apnahelper@gmail.com</p>
                </div>
            </div>
      <div class="col-md-2 colo" style="padding-left: 0px;">
        <h3>Address</h3>
        <p>Rishikesh Dehradun(INDIA)</p>
      </div>
        </div>
    </div>
</div>

<section class="index-social">
    <div class="container">
    <div class="row text-center">
            <p class="copy-c">© 2017 - All Rights are Reserved</p>
        </div>
    </div>
</section>
                                     <!--end of footer-->
</html>
