<!DOCTYPE HTML>
<html lang="en-US" style="height: 720px;">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-compatible" Content="IE-edge">
	<meta name="viewport" content="width=device-width">
	<title>ApnaHelper</title>
  <%= stylesheet_link_tag "helper_request" %>
  <%= stylesheet_link_tag  'application', media: "all", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' , 'data-turbolinks-track' => true  %>
  <%= csrf_meta_tags %>
  </head>

<body>
													 <!--  navigation starts-->

<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<nav class="navbar navbar-inverse my_menu1"  data-offset-top="197" data-spy="affix" data-offset-top="197">
		<div class="container-fluid">
			<div class="col-sm-2 col-xs-6">

        <%= link_to "index" do %>
             <%= image_tag('homelogo.PNG' ,style: "padding-right:40px" , class: "pull-right") %>
        <% end %>

      </div>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
		<div class="col-sm-10 col-xs-6">
		<div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav pull-right" style="padding-top: 6px;padding-bottom:6px;padding-right: 80px;width: 480px;">
          <li style="margin-left: 1px;"> <%= link_to("Electrical", {:action => 'electrician'}, :class => "whitefont") %></li>
          <li style="margin-left: 1px;"> <%= link_to("Plumber", {:action => 'plumber'}, :class => "whitefont active") %></li>
          <li style="margin-left: 1px;"> <%= link_to("Carpenter", {:action => 'carpenter'}, :class => "whitefont") %></li>
          <li style="margin-left: 1px;"> <%= link_to("Painter", {:action => 'painter'}, :class => "whitefont") %></li>
          </ul>
			</div>
		 </div>
		</div>
	</nav>
</body>

<div class="container">
	<div class="raw">
	<h3 style="margin-bottom: 30px;margin-top: 40px"><strong > Plumbing Services </strong></h3>

		<p> Whether you plan to move to a new home or you have a plumbing concern in your existing home,
			you often wonder “Who are the plumbers near me, who can provide reliable services?”
			This is where we at The Helpers step in to assist you.
			We provide plumbing experts for instant and long lasting solutions to all your plumbing related needs.
			Starting from installation and fitting of faucets to repairs of a leaky tap, we get all this done.
			Pipe blockage, water heater installation, or any other plumbing related concern, we are here to support you.
			At The Helpers you will get superior services at transparent prices and get the work done at your convenient timings.</p>

		<p>Check out the professional online plumber services that we can help you on:-</p>

		<p> >> Hard Water Shower Filter,</P>
		<p> >> Tap, wash basin and sink,</P>
		<p> >> Toilet and Sanitary work,</P>
		<p> >> Bathroom Fittings,</P>
		<p> >> Blocks and Leakages,</P>
		<p> >> Water Tank(installation/uninstallation)</P>
		<p style="margin-bottom: 30px;"> >> Pipelines and pumps, and many more.</P>

	</div>
</div>


	<script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript"></script>
</body>

																		<!--Footer starts here-->
<div class="footer" style="padding-top: 10px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
               <%=  image_tag('apnahelper.PNG' ,class: "img-responsive img-rounded" ,style: "width: 220px;height: 120px;margin-top: 30px; background-color: white;")  %>
              </div>
            <div class="col-md-2 ">
                    <h3>Services</h3>
                    <ul>
						<li><a href="Electrician.html">Electrician</a></li>
						<li><a href="Plumber.html">Plumber</a></li>
						<li><a href="Carpenter.html">Carpenter</a></li>
						<li><a href="Painter.html">Painter</a></li>
                    </ul>
            </div>
            <div class="col-md-2 ">
                    <h3>Go To</h3>
                    <ul>
						<li><a href="index.html"> Home</a></li>
						<li><a href="index.html#aboutus"> About</a></li>
						<li><a href="index.html#contactus"> contact</a></li>
                    </ul>
            </div>
            <div class="col-md-3 colo  style="padding-right: 0px;width: 265px;">
                <div class="link-area">
                    <h3>Contact</h3>
                    <p  ><span class="glyphicon glyphicon-phone-alt" style="padding-right: 10px;"  ></span>+91-9557179662</p>
					<p  ><span class="glyphicon glyphicon-phone-alt" style="padding-right: 10px;"  ></span>+91-9897471319</p>
					<p  ><span class="glyphicon glyphicon-envelope"  style="padding-right: 10px;"   ></span>apnahelper@gmail.com</p>
                </div>
            </div>
			<div class="col-md-2 colo" style="padding-left: 0px;">
				<h3>Address</h3>
				<p>Rishikesh Dehradun(INDIA)</p>
			</div>
        </div>
    </div>
</div>

<section class="index-social">
    <div class="container">
    <div class="row text-center">
            <p class="copy-c">© 2016 - All Rights are Reserved</p>
        </div>
        </div>
</section>
																		 <!--end of footer-->
</html>
