<!DOCTYPE HTML>
<html lang="en-US" style="height: 720px;">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-compatible" Content="IE-edge">
	<meta name="viewport" content="width=device-width">
	<title>ApnaHelper</title>
  <%= stylesheet_link_tag "helper_request" %>
  <%= stylesheet_link_tag  'application', media: "all", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' , 'data-turbolinks-track' => true  %>
  <%= csrf_meta_tags %>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
</head>



<div class="viewback">
  <h2>Requests</h2>

  <div class="table-responsive" > <%= pluralize(@helperreq.size, "entry") %> found </div>
  <table class="table table-condensed viewtable">
    <tr>
      <th>&nbsp;</th>
      <th>Name<th>
      <th>Service</th>
      <th>Address</th>
      <th>mobile</th>
      <th>email</th>
      <th>date</th>
      <th>time</th>
      <th>Status</th>
      <th>Delete</th>
    </tr>
    <% @helperreq.each do |helperreq| %>
    <tr>
      <td><%= helperreq.position %></td>
      <td><%= helperreq.name %></td>
      <td>&nbsp;</td>
      <td><%= helperreq.service %></td>
      <td><%= helperreq.address %></td>
      <td><%= helperreq.mobile %></td>
      <td><%= helperreq.email %></td>
      <td><%= helperreq.date %></td>
      <td><%= helperreq.time %></td>
      <td>&nbsp;</td>
      <td>  <%= link_to("Delete", {:action => 'delete' , :id => helperreq.id} , :class => "btn btn-danger") %></td>


    </tr>
    <% end %>
  </table>
</div>

</html>
