<%= error_messages_for(@helperlist) %>

<table summary="Page form fields">
  <tr>
    <th><%= f.label(:helper_table_id, "Profession") %></th>
    <td><%= f.select(:helper_table_id, @helpertables.map {|s| [s.name, s.id]}) %></td>
  </tr>
  <tr>
    <th><%= f.label(:name, "First Name") %></th>
    <td><%= f.text_field(:first_name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:name, "Last Name") %></th>
    <td><%= f.text_field(:last_name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:position) %></th>
    <td><%= f.select(:position, 1..@helperlist_count) %></td>
  </tr>
  <tr>
    <th><%= f.label(:rating, "Rating") %></th>
    <td><%= f.select(:rating, 0..5) %></td>
  </tr>
  <tr>
    <th><%= f.label(:company_name, "Company Name") %></th>
    <td><%= f.text_field(:company_name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:mobile, "Mobile") %></th>
    <td><%= f.text_field(:mobile) %></td>
  </tr>
  <tr>
    <th><%= f.label(:address, "Address") %></th>
    <td><%= f.text_field(:address ,:size => 150) %></td>
  </tr>
  <tr>
    <th><%= f.label(:created_at) %></th>
    <td><%= f.datetime_select(:created_at, :order => [:month, :day, :year]) %></th>
 </tr>
</table>
