

<%= link_to("<< Back to List", {:action => 'index' , :helper_table_id => @helpertable.id}, :class => 'back-link') %>

<div class="pages show">
  <h2>Show Detail</h2>

  <table summary="Page detail view">
    <tr>
      <th>Helper Table ID</th>
      <td><%= @helperlist.helper_table_id %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= @helperlist.first_name %> <%= @helperlist.last_name %></td>
    </tr>
    <tr>
      <th>Position</th>
      <td><%= @helperlist.position %></td>
    </tr>
    <tr>
      <th>Company Name</th>
      <td><%= @helperlist.company_name %> </td>
    </tr>
    <tr>
      <th>Address</th>
      <td><%= @helperlist.address %> </td>
    </tr>
    <tr>
      <th>Mobile</th>
      <td><%= @helperlist.mobile %> </td>
    </tr>
    <tr>
      <th>Rating</th>
      <td><%= @helperlist.rating %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @helperlist.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @helperlist.updated_at %></td>
    </tr>
  </table>

</div>
