 <%= error_messages_for(@helpertable) %>  

<table summary="Subject form fields">
  <tr>
    <th><%= f.label(:name, "Name") %></th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:position) %></th>
    <td><%= f.select(:position, 1..@helpertable_count) %></td>
  </tr>
  <tr>
    <th><%= f.label(:created_at) %></th>
    <td><%= f.datetime_select(:created_at, :order => [:month, :day, :year]) %></th>
 </tr>
</table>
